/* Paleta de cores */
:root {
    --rosa-suave: #ca2b5b;
    --roxo-suave: #e49cf6;
    --cinza-claro: #EDEDED;
    --branco: #FFFFFF;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--cinza-claro);
}

/* Estilo para o cabeçalho */
header {
    background-color: var(--rosa-suave);
    color: var(--branco);
    padding: 20px;
    text-align: center;
}

header nav ul li a {
    color: var(--roxo-suave);
}

header nav ul li a:hover {
    color: var(--branco);
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Estilo para a navegação */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--rosa-suave);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo para a seção de banner */
.banner {
    padding: 20px;
    text-align: center;
}

.banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 16px;
    margin-bottom: 20px;
}

.banner a {
    color: var(--rosa-suave);
    text-decoration: underline;
}

/* Estilo para os cards */
.card {
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left; /* Alinhamento do texto nos cards */
}

.card img {
    display: block; /* Garante que a imagem não tenha margens indesejadas */
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; /* Espaçamento inferior entre a imagem e o texto */
}
.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card a {
    color: var(--rosa-suave);
    text-decoration: underline;
}

/* Estilo para o rodapé */
footer {
    background-color: var(--rosa-suave);
    color: var(--branco);
    text-align: center;
    padding: 20px;
}

/* Media queries para ajustar o layout em dispositivos menores */
@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .banner h2 {
        font-size: 18px;
    }

    .banner p {
        font-size: 12px;
    }

    .card {
        padding: 10px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 12px;
    }

    footer {
        padding: 10px;
    }
}
