@font-face {
    font-family: '1917 Epoque';
    src: url(src/font/1927_epoque/1927\ Epoque.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF  ;
    color: #333;
}

header {
    background-color: #D6A2E8  ;
    color: #fff;
    padding: 20px;
}

main {
    background-color: #f9f9f9 ;
}

header h1 {
    margin: 0;
    text-align: center;
    color: #8a4baf   ;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

header > p { 

    color: #333333   ;
    font-size: 1.7em;
    font-family: Arial, verdana helvetica, sans-serif;
    width: 1254px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 119px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



nav ul li a {
    color: #333333    ;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

main {
    padding: 20px;
}

main, header, a, footer {
    font: normal 1em '1917 Epoque'
}

.banner {
    text-align: center;
    padding: 50px 0;
}

.banner h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.banner a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #333333 ;
    text-decoration: none;
    border-radius: 5px;
}

.destaque {
    margin-top: 50px;
}

.destaque h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.card {
    background-color: #d8ffff7b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 450px;
}

.card img {
    width: 35%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container {
    text-align: center;

}

.container p {
    text-align: center;
    height: 80px;
    font: normal 1.2em '1917 Epoque';
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
}

footer {
    text-align: center;
    background-color: #D6A2E8  ;
    color: #333333 ;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

a:hover, a:active {
    background-color: #6a389a;
    color: #FFFFFF;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    .banner {
        padding: 30px 0;
    }

    .banner h2 {
        font-size: 2em;
    }

    .banner p {
        font-size: 1em;
    }

    .banner a {
        padding: 8px 16px;
    }

    .card {
        padding: 10px;
        margin-bottom: 10px;
    }

    .card h3 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 1em;
    }

    footer {
        padding: 10px;
    }
}


