body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.categoria {
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(50% - 10px);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

h2, h3 {
    margin-top: 0;
}

p {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sub {
    font-size: 12px;
    color: #666;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Estilos para Cada Seção */
#esportes .container {
    display: flex;
    flex-wrap: wrap;
}

#esportes .card {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#esportes .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#esportes .card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#esportes .card p {
    font-size: 1.1em;
}
