/* Estilo para a seção Literatura */
#literatura {
    padding: 20px;
    background-color: #d5d5d5;
}

/* Estilo para o título da seção */
#literatura h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Estilo para o container dos cards */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Estilo para cada card */
.card {
    width: 300px;
    max-height: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    max-height: 450px; /* Defina uma altura máxima fixa para os cards */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura máxima */
    
}

/* Estilo para a imagem dentro do card */
.card img {
    max-width: 100%;
    height: 200px; /* Defina uma altura fixa para as imagens */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
    border-top-left-radius: 8px; /* Garante que a borda superior da imagem seja arredondada */
    border-top-right-radius: 8px; /* Garante que a borda superior da imagem seja arredondada */
}

/* Estilo para o título dentro do card */
.card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

/* Estilo para o texto descritivo dentro do card */
.card p {
    color: #666;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar que há mais texto oculto */
    -webkit-line-clamp: 8; /* Limita o número de linhas de texto a serem exibidas */
    -webkit-box-orient: vertical; /* Define a orientação vertical para o texto */
    display: -webkit-box; /* Habilita o layout de caixa flexível do WebKit */
}

/* Estilo para os links dentro do card */
.card a {
    color: #3019fc; /* Cor do link */
    text-decoration: none;
}


.card a:hover {
    color: #3019fc81; /* Cor do link ao passar o mouse */
}

